<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if( order.length <=0 ) { %>
        <h1>
            Nothing here
        </h1>

        <% } else { %>
        <ul>
            <% order.forEach(orders => { %>
            <li>
                <h1># <%= orders._id %></h1>
                <ul>
                    <% orders.items.forEach(products => { %>
                        <li><%= products.title%> (<%= products.quantity%>) </li>
                    <%})%>
                </ul>
            </li>
            <%});%>
        </ul>
        <%}%>
    </main>
    <%- include('../includes/end.ejs') %>